<div class="card-top container-fluid">
    <div class="container d-flex card-top-container mb-4">
        <div class="item">
            <a (click)="filter('')">
                <img src="assets/allproducts.png" alt="">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="assets/laptop.png" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="assets/dress.png" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="assets/jewelry.png" alt="">
                <h6>Jewelery</h6>
            </a>
        </div>

    </div>
    <hr>
</div>


<div class="container">
    <div class="row justify-content-center">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <img src="{{item.image}}" alt="">
                </div>
                    <h5 class="title">{{item.title}}</h5>
                    <p class="description">{{item.description}}</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="mb-0"><strong>${{item.price}}</strong></p>
                        <div class='stars-rate ml-2'>
                          <span class='full'>★</span>
                          <span class='full'>★</span>
                          <span class='full'>★</span>
                          <span class='full'>★</span>
                          <span class='empty'>☆</span>
                          <a style="font-size: 12px;"> ({{item.rating.count}})</a>
                        </div>
                      </div>
                    <button class="btn btn-primary" (click)="addToCart(item)"><i class="fa fa-cart-plus"></i> Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>